[Unit]
Description=Harbor service registry
After=network.target caddy.service

[Service]
User=harbor
Environment=HARBOR_CONFIG=/etc/harbor/config.yaml
ExecStart=gunicorn -k gthread --workers 1 --threads 16 harbor.wsgi:app
Restart=on-failure

[Install]
WantedBy=multi-user.target